/* --- HEADER Y SUS ELEMENTOS --- */
header {
    display: flex;
    justify-content: space-between;
    padding: 4%;
    width: 100%;
    height: 10vh;
    background-color:black;
    position: fixed;
    top: 0px;
    z-index: 1;
    /*por qué la barra menú no se queda hasta el final?*/
}
.plans{
    background-color:#26b758;
    border-radius:500px;
    padding:15px;
    margin:15px;
    color:white;
    text-align: center; /* centrar texto */
    text-decoration:none; /*Para quitar subrayado*/
}

/* --- MAIN Y SUS ELEMENTOS --- */
.main {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px;
    width: 100%;
    height: 50vh;
    color:white;
    background-color: #529cf1;
}
.seeplans {
    background-color: #26b758
}


/* --- BENEFIT Y SUS ELEMENTOS --- */
.premium{
    display:flex;
    display:block;
    background-color:  #fefefe;
    padding-bottom:40px;
}
h2{
     text-align: center; /* centrar texto */
     padding:20px;
}
.benefit{
    display: flex;
    justify-content: space-evenly;
    justify-content: flex-start;
    padding:15px; /*Corrección de márgenes*/
    
}
.benefit-icon {

    transform: scale(1); /*La escala estaba bien sin cambiar, lo que cambié fue el width aquí abajo*/
    width:30%;
    

}
.benefit-text {
    display: block;
    background-color:#26b758;
    border: black 2px solid; 
    
}

/* --- FOOTER Y SUS ELEMENTOS --- */
footer{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: black;
    position:sticky;
    bottom:0;
    }
ul {
    list-style-type: none;
}
.flag {
    transform: scale(0.40);
}
